.ccontent {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}
.ccontent2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    width: 100%;
    max-width: 800px;
}

.cimage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;

    width: 100%;
}

.cimage img {
    flex-grow: 1;
    width: calc(100% - 120px);
    max-width: 680px; 
    height: 510px; 

    object-fit: cover;
    display: block;
    
    border: 20px solid var(--project-color); 
    border-radius: 0px 20px 0px 20px;
}

/* FLECHAS */

.cprev, .cnext {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    font-size: 40px;

    color: black; 
    background: var(--project-color); 
    border: 4px solid var(--project-color); 

    transition: all 0.2s ease-in-out;
}

.cprev {
    border-radius: 50% 0% 0% 50%;
    text-align: top;
}

.cnext {
    border-radius: 0% 50% 50% 00%;
}

.cprev:hover, .cnext:hover {
background: transparent;
color: var(--project-color); ; 
box-shadow: none;
cursor: default;
}

.cprev:disabled,
.cnext:disabled {
  opacity: 0;
  cursor:0;
}

/* PUNTOS */
.dots {
    display: flex;

    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dot {
    width: 14px;
    height: 14px;
    background-color: #ccc;
    border-radius: 50%;
}

.dot.active {
    background-color: black;
}

/* TEXT ......................................... */

.ctext {
    width:100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
    text-align: left;
    position:relative;
}

.ctext h2 {
    position: relative;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 1px black;
    color: var(--project-color);
    z-index:2;
}

.ctext h2.border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-text-stroke: 3px black; 
    text-shadow: 2px 2px black;
    color: transparent; 
    z-index: 1; 
    white-space: nowrap; 
    pointer-events: none; 
}

.ctext p {
    margin: 0;
    font-size: 16px;
}

/* CHECK ..............................................*/

.check{
    width: fit-content;
    
    font-weight: 500;
    color: black;
    border:black;
    background-color: var(--project-color); 
    box-shadow: 2px 2px 0px black;
    border: 2px solid black; 

    padding: 0.5rem 0.5rem;
    margin-top:10px;

    cursor: pointer; 
    transition: all 0.1s ease-in-out;
    margin-top: 20px;
}

.check:hover {
    box-shadow: none;
    transform: translate(2px, 2px);
}