@keyframes scroll {
  from {
    transform: translateX(-25%);
  }
  to {
    transform: translateX(100%);
  }
}

/************************************************************************/

.musicdescription {
  text-align: center; 
  margin-bottom: 40px;
  margin-top: 40px;
}

.musicbg{
  position:absolute;
  z-index:0;
  margin-top: 20px;
  width:750px;
  height:300px;
  border-radius: 100px;
  background: url("../assets/dither/1.png");
  opacity: 0.1;
}

/* MUSIC PLAYER ********************************************************/

.musicgroup {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-bottom: 40px;
  margin-bottom: 29vh;

  --c1: var(--project-color);
  --c2: #000000;
  --c3: #ffff9a;
  background: lightgrey;
}

.music-player {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.mus-left {
  width: 200px; 
  display: flex;
  flex-direction: column;
  transform: translate(-8px, -8px);
  overflow: show;
}

.mus-middle {
  width: 44px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--c1);
  transition: ease-in-out 0.1s;
  overflow: visible;

  transform: translate(-8px, -8px);
  border: 2px solid var(--c2);
  border-radius: 0px 0 20px 0;
}

.mus-right {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
 
}

/* LEFT *********************************************************************/

/* IMAGEN */

.cover-container {
  padding: 10px;
  width: 100%; 
  height: auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: var(--c1);
  border-radius: 0 50% 0 50%;
  border: 2px solid var(--c2);
  transform: translate(2px,2px);
}

.cover-container img {

  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
  max-height: 100%; 
  object-fit: cover; 
  transition: ease-in-out 0.5s;
  background: url("../assets/dither/1.png");
  border-radius: 50% 50% 50% 50%;
  border: 2px solid black;
  overflow: show;
  transition: transform 0.5s ease-in-out;

  animation: rotateCover 5s linear infinite;
  animation-play-state: paused;
  transition: transform 0.3s ease-out;
}

/* WAVE */

.waveform-container {
  width: 100%;
  transform: translate(2px, 0px);
}

.waveform {
  width: 100%;
  height: 50px;
  background: white; 
  background-repeat: repeat;
  background-size: auto;
  background-position: center; 
  border-radius: 0px 0px 0px 0px;
  border: 2px solid var(--c2);
}
  
/* MIDDLE ********************************************************************/

.play_button_c{
  width: 100%;
  height: 44px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.play-button {
width: 30px;
height: 30px;
transform: translate(-2px, -2px);
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
background-color: transparent;
border-radius: 50%;
border: 2px solid var(--c2);
box-shadow: 2px 2px 0px var(--c2);
transition: transform 0.1s ease, box-shadow 0.1s ease;
background: white;

}

.play-button.active{
transform: translate(0px, 0px);
border: 2px solid var(--c2);
fill: var(--c2);
box-shadow: 0px 0px 0px var(--c2);
background: white;
}

.play-icon {
  width: 20px;
  height: 20px;
}

.volume-s {
  appearance: slider-vertical;
  accent-color: var(--c2);
  width: 20px;
  height: 190px;
  margin-bottom:10px;
  background: #ffffff;
}

/* RIGHT ********************************************************************/

.nowplaying {

  width: 100%;
  background: var(--c1); ;
  transition: ease-in-out 0.1s;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  transform: translate(-8px, -8px);
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.nowplaying2 {
  margin-right: auto;
  width: 100%;
  background: var(--c2); ;
  transition: ease-in-out 0.1s;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  transform: translate(-8px, -8px);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.nowplayingtext2{
  font-style: italic;
  animation: scroll 10s linear infinite;
}

.nowplaying p { 
  padding-left: 4px;
  font-size: 1em;
  text-align: left;
  font-weight: bold;
  color:  var(--c2);
}

.nowplaying2 p { 
  padding-left: 4px;
  font-size: 1em;
  text-align: left;
  font-weight: bold;
  color: var(--c1);
}

/*....................................................................*/

.categories-window {
  width: 100%;
  height:26px;
}

/* Tabs */

.tabs button {
  flex: 1;
  cursor: pointer;
  font-weight: bold;
  color: var(--c2);
  padding: 5px;
  transition: ease-in-out 0.1s;
  border: 2px solid black;
  transform: translate(-1px, -1px);
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 10px;
}

.tabs button:not(.active):hover {
  color: var(--c1);
  transform: translate(-1px, -2px);
}

.tabs .active {
  transform: translate(-1px, -11px);
  background-color: var(--c2);
  color: var(--c1);
  border-top:0px;
  border-radius: 0 0 10px 10px;
}

/* Category Content */
.category-content {
  display: flex;
  flex-direction: column;
  max-height: 180px;
  overflow-x: show;
  margin-top: 10px;
}

.category-content::-webkit-scrollbar {
  width: 0px;
}

.category-content::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 1);
  border-radius: 3px;
}

.category-content::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 1);
}

.track-row {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 8px;
  border: none;
  width: 100%;
  height: 40px;
  font-size: 14px;
  cursor: pointer;
  text-align: left;
  border: 1px solid var(--c2);
  margin-left:0px;
  margin-bottom: 8px;

  z-index: 5;
  transition: ease-in-out 0.1s;
  background: #ffffff;
}

.track-row:hover {
  background: #E5E4E2;
  margin-left:-2px;
}

.track-row.active {
  flex-grow: 1;
  background: var(--c1);
  color: var(--c2);
  font-weight: bold;
  margin-left:-10px;
  border-left: 0px;
}

/*********************************/

.track-cover {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-right: auto; 
}

.track-title {
  flex-grow: 1; 
  text-align: center;
}

.track-link{
  text-align: right;
  color: white;
  background: black;
  padding: 5px;
  border-radius: 50%;
}

.track-link:hover{
  text-align: right;
  color: white;
  background: gray;
  padding: 5px;
  border-radius: 50%;
}

/* LOADING ................................................................... */

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.spinner {
  border: 10px solid rgba(0, 0, 0, 1);
  border-top: 10px solid var(--c1);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  transition: ease-in-out 1s;
  transform: translate(0px,0px);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-bar {
  bottom: 0px;
  width: 100%;
  height: 50px;
  background: darkgray;
  overflow: hidden;
  position: absolute;
  transition: ease-in-out 1s;
  border-radius: 0 0 0 0px;
}

.loading-bar-progress {
  width: 100%;
  height: 100%;
  background: #fff;
  animation: loading-progress 1.2s linear infinite;
}

@keyframes loading-progress {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.cover-container img.rotating {
  animation-play-state: running;
}

@keyframes rotateCover {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}