@keyframes scroll {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

.emptyspace {
  margin-top: 200px;
}

/************************************************************************/

.musicdescription {
  text-align: center; 
  margin-bottom: 40px;
  margin-top: 100px;
}

/* MUSIC PLAYER ********************************************************/

.musicgroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;       
  justify-content: center; 
  padding-bottom: 40px;
  padding-top: 40px;
  gap: 0px;

  --c1: var(--project-color);
  --c2: #000000;
  --c3: white;
  background: lightgray;
}

.music-player {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
}

/* SECTIONS *************************************************************/

.music-top{
  width:800px;
  display: flex;
  flex-direction: row;
  background: var(--c1);
  border-top: 20px solid var(--c1);
}

.music-top-2{
  width:800px;
  display: flex;
  flex-direction: row;
  background: var(--c1);
  border-radius: 0% 0% 0px 0px;
}

.mus-left {
  width: 50px; 
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--c1);
  transition: ease-in-out 0.1s;
  z-index:5;
  border-radius: 0px 0px 0px 25px;
  border-top: 20px solid var(--c1);
}

.mus-middle {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;;
  border-radius: 0px 0px 20px 25px;
  border-top: 20px solid var(--c1);
}

.mus-right {
  width: 0px; 
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--c1);
  transition: ease-in-out 0.1s;
  z-index:5;
  border-radius: 0px 0px 25px 0px;
}

.mus-pic {
  width: 250px; 
  display: flex;
  flex-direction: column;
  overflow: show;
  z-index: 4px;
}


/* TOP ******************************************************************/

.nowplaying {
  width: 100%;
  height: 50px;
  transition: ease-in-out 0.1s;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 0px;
  background: url("../assets/dither/10.png");
  border-left: 1px solid black;
  border-right: 1px solid gray;

}

.nowplaying p { 
  min-width: 100%;
  padding: 8px;
  font-size: 1.5em;
  padding-left: 8px;
  text-align: left;
  font-weight: bold;
  font-style: italic;
  color: var(--c2);
  animation: scroll-text 10s linear infinite;
}

.waveform-container {
  width: 100%;
  height: 50px;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../assets/dither/10.png"); 
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.waveform {
  width: 100%;
  bottom: 0px;
  height: 50px;

  background-repeat: repeat;
  background-size: auto;
  background-position: center; 
  border-radius: 0px 0px 0px 0px;
}

/**************************/

.play_button_c{
  width: 100%;
  max-width: 50px;
  height: 75px;
  display:flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
}

.play-button {
width: 30px;
height: 30px;
transform: translate(-2px, -2px);
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
background-color: transparent;
border-radius: 50%;
border: 2px solid var(--c2);
box-shadow: 2px 2px 0px var(--c2);
transition: transform 0.1s ease, box-shadow 0.1s ease;
background: white;
}

.play-button.active{
transform: translate(0px, 0px);
border: 2px solid var(--c2);
fill: var(--c2);
box-shadow: 0px 0px 0px var(--c2);
background: white;
}

.play-icon {
  width: 20px;
  height: 20px;
}

.volume-s {
  appearance: slider-vertical;
  accent-color: var(--c2);
  height: 100%;
  width: 50px;
  background: #ffffff;
  border: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* LEFT *********************************************************************/

.cover-container {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 100%; 
  height: auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  border-radius: 0% 0% 50% 50%;
  border-top: 20px solid var(--c1);

  background-color: var(--c1);
}

.cover-container img {
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
  max-height: 100%; 
  object-fit: cover; 
  transition: ease-in-out 0.5s;
  background: transparent;
  border-radius: 50% 50% 50% 50%;
  border: 1px solid var(--c2);
  overflow: show;
  transition: transform 0.5s ease-in-out;

  background-image: url("../assets/dither/4t.png"); 
  background-repeat: repeat;
  background-size: 16px;                     
  background-color: var(--c1);                 
  
  overflow: hidden;

  animation: rotateCover 5s linear infinite;
  animation-play-state: paused;
  transition: transform 0.3s ease-out;
}


/* RIGHT ********************************************************************/

.categories-window {
  border-top: 20px solid var(--c1);
  width: 100%;
  height:25px;
  z-index:5;
}

.tabs button {
  flex: 1;
  cursor: pointer;
  font-weight: bold;
  color: var(--c2);
  padding: 5px;
  transition: ease-in-out 0.1s;
  margin-top:8px;
  margin-left: 8px;
  border-radius: 10px;
}

.tabs button:not(.active):hover {
  transform: translate(0px, -2px);
  color: var(--c2);
  background-color: white;

}

.tabs .active {
  transform: translate(0px, -8px);
  background-color: var(--c1);
  color: var(--c2);
  border-top: 0px;
  border-radius: 0 0 10px 10px;
  border: 2px solid var(--c1);
}

/* Category Content */
.category-content {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  max-height: 180px;
  overflow-x: show;
  margin-top: 8px;
  align-items: center;
}

.category-content::-webkit-scrollbar {
  width: 0px;
}

.category-content::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 1);
  border-radius: 3px;
}

.category-content::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 1);
}

.track-row {
  width: 100%;
  height: 40px;
  padding: 8px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between; 

  font-size: 12px;
  cursor: pointer;
  border: 1px solid black;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 7px;
  z-index: 5;
  transition: ease-in-out 0.1s;
  background: #ffffff;
}

.track-row:hover {
  background: #E5E4E2;
  transform: translate(-4px, 0px);
}

.track-row.active {
  flex-grow: 1;
  background: var(--c1);
  color: var(--c2);
  font-weight: bold;
  transform: translate(-10px, 0px);
  border-left: 0px;
  border: 0px solid black;

}

/*********************************/

.track-cover {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-right: auto; 
}

.track-title {
  flex-grow: 1; 
  text-align: center;
}

.track-link{
  text-align: right;
  color: white;
  background: black;
  padding: 5px;
  border-radius: 50%;
}

.track-link:hover{
  text-align: right;
  color: white;
  background: gray;
  padding: 5px;
  border-radius: 50%;
}

/* LOADING ................................................................... */

.loading-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.spinner {
  border: 10px solid rgba(0, 0, 0, 1);
  border-top: 10px solid var(--c1);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  transition: ease-in-out 1s;
  transform: translate(0px,0px);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-bar {
  top: 0px;
  width: 100%;
  height: 50px;
  background: darkgray;
  overflow: hidden;
  position: absolute;
  transition: ease-in-out 1s;
  border-radius: 0 0 0 0px;
}

.loading-bar-progress {
  width: 100%;
  height: 100%;
  background: #fff;
  animation: loading-progress 1.2s linear infinite;
}

@keyframes loading-progress {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.cover-container img.rotating {
  animation-play-state: running;
}

@keyframes rotateCover {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scroll-text {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}